.social-proof, .contact-us{
    padding: 1.5em;
}

@media screen and (min-width: 768px){
    .header__logo__text{
        font-size: 3rem;
    }

    .header__logo__click-icon{
        width: 12%;
        height: 12%;
    }

    .header__subtitle{
        font-size: 1.8rem;
    }

    .call-to-action__box__img{
        width: 75%;
    }

    .call-to-action__box__text{
        font-size: 4ch;
        width: 90%;

        margin-bottom: 10rem;
    }

    .services{
        margin-bottom: 10rem;
    }

    .services__title, .social-proof__title{
        font-size: 3rem;
    }
    

    .services__card__title{
        font-size: 2rem;
    }

    .services__card__description{
        font-size: 2.3ch;
    }

    .social-proof__card__opinion{
        font-size: 3ch;
    }

    .contact-us{
        margin: 10rem 0;
    }

    .contact-us__form__title{
        font-size: 3rem;
    }

    .contact-us__form__input{
        padding: 1.5em;
    }

    .contact-us__form__input::placeholder, .contact-us__form__text-area::placeholder{
        font-size: 1.8rem;
    }

    .contact-us__form__button{
        font-size: 1.8rem;
        width: 40%;
    }

    .footer{
        font-size: 2ch;
    }
}

@media screen and (min-width: 1024px){
    .header__logo__click-icon{
        width: 8%;
        height: 8%;
    }
    .header__logo__text{
        font-size: 2.8rem;
    }

    .call-to-action__box__img{
        width: 60%;
    }

    .call-to-action__box__text{
        font-size: 3.5ch;
        width: 70%;
    }

    .social-proof__card-box{
        display: grid;
        grid-template: auto auto auto / auto auto;

        margin-bottom: 10rem;
    }
}

@media screen and (min-width: 1440px){
    .header__logo__click-icon {
        width: 5%;
        height: 5%;
    }

    .call-to-action__box{
        flex-flow: row nowrap;
        align-items: center;
    }

    .call-to-action__box__img{
        width: 45%;

        margin: 0;
    }

    .call-to-action__box__text{
        font-size: 7ch;
        width: 45%;

        margin: 0;
    }

    .services__title, .social-proof__title{
        font-size: 4rem;
        
        padding: 0.8em;
    }

    .services__card-box{
        flex-flow: row nowrap;
        gap: 1.5em;
        max-width: 102.4rem;
    }

    .services__card{
        min-height: 32rem;
    }
    
    .services__card__icon{
        font-size: 64px;
    }

    .services__card__title{
        font-size: 2.5rem;
    }

    .services__card__description{
        font-size: 2.5ch;
    }

    .social-proof__card-box{
        grid-gap: 1.5rem;
    }

    .social-proof__card{
        max-width: 50rem;
    }

    .social-proof__card__icon{
        font-size: 64px;
    }

    .social-proof__card__opinion{
        font-size: 3.3ch;
    }
}