:root{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.header{
    font-size: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-width: 30rem;

    padding: 1em;

    background-color: rgba(252, 163, 17, 1)
}

.header__logo-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header__logo__click-icon{
    width: 15%;
    height: 15%;

    margin: 0;
}


.header__logo__text{
    font-size: 2.5rem;
    font-weight: bold;
    width: fit-content;
    height: fit-content;

    margin: 0;
}

.header__subtitle{
    font-size: 1.3rem;
}

.call-to-action__box{
    font-size: 1.3rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-width: 30rem;

    padding: 1em;
}

.call-to-action__box__img{
    width: 80%;
}

.call-to-action__box__text{
    font-size: 2ch;
    font-weight: 600;
    text-align: center;
}

.services{
    font-size: 1rem;
    text-align: center;
    min-width: 30rem;

    padding: 1em;
}

.services__title{
    font-size: 2rem;

    padding: 1em;
}

.services__card-box{
    font-size: 1.3rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1em;
    max-width: 42.5rem;

    padding: 1em;
}

.services__card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 0.3rem;
    width: 100%;
    min-height: 10rem;

    padding: 1em;
    border-radius: 1rem;
    background-color: rgba(252, 163, 17, 1);
}

.services__card__icon{
    font-size: 32px;
}

.services__card__title{
    font-size: 1.5rem;

    padding: 0.2em;
}

.services__card__description{
    font-size: 1.7ch;

    padding: 0.5em;
}

.footer{
    font-size: 1.5ch;
    text-align: center;

    padding: 2em;

    color: white;
    background-color: rgba(0, 0, 0, 1);
}