:root{
    font-size: 62.5%;
}

*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.header{
    font-size: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-width: 30rem;

    padding: 1em;

    background-color: rgba(252, 163, 17, 1)
}

.header__logo-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.header__logo__click-icon{
    width: 15%;
    height: 15%;

    margin: 0;
}


.header__logo__text{
    font-size: 2.5rem;
    font-weight: bold;
    width: fit-content;
    height: fit-content;

    margin: 0;
}

.header__subtitle{
    font-size: 1.3rem;
}

.call-to-action__box{
    font-size: 1.3rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-width: 30rem;

    padding: 1em;
}

.call-to-action__box__img{
    width: 80%;
}

.call-to-action__box__text{
    font-size: 2ch;
    font-weight: 600;
    text-align: center;
}

.services, .social-proof, .contact-us{
    font-size: 1rem;
    text-align: center;
    min-width: 30rem;

    padding: 1em;
}

.services__title, .social-proof__title, .contact-us__form__title{
    font-size: 2.3rem;

    padding: 1em;
}

.services__card-box, .contact-us__form{
    font-size: 1.3rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1em;
    max-width: 42.5rem;

    padding: 1em;
}

.services__card{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    gap: 0.3rem;
    width: 100%;
    min-height: 10rem;

    padding: 1em;
    border-radius: 1rem;
    background-color: rgba(252, 163, 17, 1);
}

.services__card__icon{
    font-size: 32px;
}

.services__card__title{
    font-size: 1.5rem;

    padding: 0.2em;
}

.services__card__description{
    font-size: 1.7ch;

    padding: 0.5em;
}

.social-proof{
    background-color: rgba(252, 163, 17, 1);
}

.social-proof__card-box{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    gap: 1em;

    padding: 1em;
}

.social-proof__card{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    max-width: 42.5rem;
    width: 100%;
    min-height: 10rem;

    border-radius: 1.5rem;

    background-color: rgba(255, 255, 255, 1);
}

.social-proof__card__icon{
    font-size: 32px;

    margin: 0;
}

.social-proof__card__opinion{
    font-size: 2.5ch;
    width: 80%;
    height: fit-content;

    padding: 0.1em;
    margin: 0;
}

.contact-us__form-box{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;

    margin: 0;
}

.contact-us__form-box__img{
    display: none;
}

.contact-us__form{
    width: 100%;

    margin: 0;

    border-radius: 1.5rem;

    background-color: rgba(252, 163, 17, 1);
}

.contact-us__form__title{
    padding: 0.5em;
}

.contact-us__form__input{
    width: 100%;

    padding: 0.8em;

    border: none;
    border-radius: 0.5em;
}

.contact-us__form__input::placeholder, .contact-us__form__text-area::placeholder{
    font-family: 'Montserrat', sans-serif;
}

.contact-us__form__text-area{
    resize: none;
    width: 100%;
    min-height: 30%;

    padding: 0.8em;

    border: none;
    border-radius: 0.5em;
}

.contact-us__form__button{
    width: 30%;
    padding: 0.5em;

    border: none;
    border-radius: 0.3rem;

    color: white;
    background-color: rgba(0, 0, 0, 1);
}

.footer{
    font-size: 1.5ch;
    text-align: center;

    padding: 2em;

    color: white;
    background-color: rgba(0, 0, 0, 1);
}